In [ ]:
Consider following code to answer further questions:

import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

duration =  [2,3,6,4]

df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})
Q1. Write a code to print the data present in the second row of the dataframe, df.

In [8]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration =  [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [9]:
df[1:2]

        course_name  duration
1  Machine Learning         3

In [ ]:
Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc uses label-based indexing, while iloc uses integer-based indexing.
loc includes the endpoint of label-based slices, while iloc does not include the endpoint of integer-based slices.
loc accepts boolean conditions to filter rows based on labels, while iloc accepts boolean arrays for filtering rows based on integer positions.

In [ ]:
Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [15]:
import pandas as pd
df = pd.DataFrame({'column':[12,14,15,16]})
df

   column
0      12
1      14
2      15
3      16

In [14]:
new_df = df.reindex([3,0,1,2])
new_df

   column
3      16
0      12
1      14
2      15

In [16]:
new_df.loc[2]

column    15
Name: 2, dtype: int64

In [17]:
new_df.iloc[2]

column    14
Name: 1, dtype: int64

In [ ]:
Consider the below code to answer further questions:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) 	mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [20]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.041119  0.369747  0.124676  0.870819  0.761430  0.629514
2  0.126450  0.282950  0.311833  0.569719  0.826577  0.997176
3  0.846741  0.574678  0.944995  0.002241  0.510005  0.750630
4  0.238687  0.651415  0.996672  0.555144  0.317585  0.951548
5  0.147280  0.762984  0.322424  0.077770  0.540097  0.641348
6  0.772314  0.479392  0.777702  0.417161  0.135427  0.802105

In [22]:
print('mean of each and every column present in the dataframe as follow: ')
df1.mean()

mean of each and every column present in the dataframe as follow:

column_1    0.362099
column_2    0.520194
column_3    0.579717
column_4    0.415476
column_5    0.515187
column_6    0.795387
dtype: float64

In [24]:
print('standard deviation of column, ‘column_2’ is :')
df1['column_2'].std()

standard deviation of column, ‘column_2’ is :

0.17872799736698922

In [ ]:
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [25]:
df1['column_2'][1:2] =

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.041119  0.369747  0.124676  0.870819  0.761430  0.629514
2  0.126450  0.282950  0.311833  0.569719  0.826577  0.997176
3  0.846741  0.574678  0.944995  0.002241  0.510005  0.750630
4  0.238687  0.651415  0.996672  0.555144  0.317585  0.951548
5  0.147280  0.762984  0.322424  0.077770  0.540097  0.641348
6  0.772314  0.479392  0.777702  0.417161  0.135427  0.802105

In [ ]:
Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In [ ]:
In Pandas, the rolling function is used to perform rolling window calculations on a Series or DataFrame.
The rolling function takes a window size parameter, which determines the number of consecutive data points included in each window.
It then applies a specified function or operation to each window, generating the corresponding output.
There are various types of window functions that can be used with rolling. Some commonly used window functions include:

mean(): Calculates the mean value of the data points in each window.
sum(): Calculates the sum of the data points in each window.
max(): Determines the maximum value in each window.
min(): Determines the minimum value in each window.
std(): Computes the standard deviation of the data points in each window.
var(): Calculates the variance of the data points in each window.
count(): Counts the number of non-null data points in each window.
apply(): Applies a custom function to each window.

In [5]:
import pandas as pd
df = pd.DataFrame({'Values':[1,2,3,4,5,6,7,8,9]})
df

   Values
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9

In [6]:
df['Values'].rolling(window = 2).mean()

0    NaN
1    1.5
2    2.5
3    3.5
4    4.5
5    5.5
6    6.5
7    7.5
8    8.5
Name: Values, dtype: float64

In [ ]:
Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [17]:
import pandas as pd 
date  = pd.date_range(start = '2023-04-25',end = '2023-05-25')
date

DatetimeIndex(['2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30', '2023-05-01', '2023-05-02',
               '2023-05-03', '2023-05-04', '2023-05-05', '2023-05-06',
               '2023-05-07', '2023-05-08', '2023-05-09', '2023-05-10',
               '2023-05-11', '2023-05-12', '2023-05-13', '2023-05-14',
               '2023-05-15', '2023-05-16', '2023-05-17', '2023-05-18',
               '2023-05-19', '2023-05-20', '2023-05-21', '2023-05-22',
               '2023-05-23', '2023-05-24', '2023-05-25'],
              dtype='datetime64[ns]', freq='D')

In [28]:
df_date = pd.DataFrame({'date':date})
df_date['year'] = df_date['date'].dt.year
df_date['month'] = df_date['date'].dt.month
df_date

         date  year  month
0  2023-04-25  2023      4
1  2023-04-26  2023      4
2  2023-04-27  2023      4
3  2023-04-28  2023      4
4  2023-04-29  2023      4
5  2023-04-30  2023      4
6  2023-05-01  2023      5
7  2023-05-02  2023      5
8  2023-05-03  2023      5
9  2023-05-04  2023      5
10 2023-05-05  2023      5
11 2023-05-06  2023      5
12 2023-05-07  2023      5
13 2023-05-08  2023      5
14 2023-05-09  2023      5
15 2023-05-10  2023      5
16 2023-05-11  2023      5
17 2023-05-12  2023      5
18 2023-05-13  2023      5
19 2023-05-14  2023      5
20 2023-05-15  2023      5
21 2023-05-16  2023      5
22 2023-05-17  2023      5
23 2023-05-18  2023      5
24 2023-05-19  2023      5
25 2023-05-20  2023      5
26 2023-05-21  2023      5
27 2023-05-22  2023      5
28 2023-05-23  2023      5
29 2023-05-24  2023      5
30 2023-05-25  2023      5

In [ ]:
Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [ ]:
Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd
import numpy as np
np.read.csv

In [ ]:
Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart

In [ ]:
Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.

Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
+Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value  |
+-----------+--------+
| Mean      | 79.6   |
| Median    | 82     |
| Mode      | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.